:root {
    --main-bg-color: #203562;
    --main-text-color: #fff;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Arial, sans-serif;
    margin: 0;
	padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.logo, #logob, #logof {
    text-align: center;
}

.menu {
    width: 100%;
}

.column {
    text-align: left;
    margin-bottom: 20px;
}

table {
    width: 100%;
}

th, td {
    padding: 5px;
}

#price {
    text-align: right;
}

.logo-table {
    text-align: center;
}

.col-2, .col-3, .col-4, .col-1 {
    padding:15px;
}

img {
    pointer-events: none;
}

div {
    border:1px solid white;
}

/* */
@media (min-width: 600px) {
    
    
}
